### Drugs200 Dataset End to End project - Siddhesh gujar

In [1]:
from warnings import filterwarnings
filterwarnings('ignore')

## Step 1 - Read the Dataset

In [2]:
import pandas as pd 
df = pd.read_csv('drug200.csv')
df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

### Step 2 - Check The Basic data Qulity